.categories {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  border-bottom: 2px solid #587C70;
}
.title {
  font-size: 48px;
  font-weight: 700;
  color: #847b77;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Playfair", serif;
}