.visionMissionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 15px;
  background-color: #fff9ef;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 768px) {
  .visionMissionContainer {
    flex-direction: row;
    padding: 50px 20px;
    justify-content: space-around;
  }
}