.subscription {
  background-color: #744229;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .subscription {
    padding: 2rem;
  }
}

.subscribeButton {
  background-color: #d4af37;
  color: #fff;
  border: none;
  margin-top: 20px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover {
  background-color: #bfa14a;
}