.hero {
    display: flex;
    background-color: #b9d5cc;
    height: 500px;
}
.logo {
    width: 100px;
    height: auto;
    margin-bottom: 1rem;
}
.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin:  auto;
    border: 1px solid #faf8f83f;
    background-color: #faf8f835;
    color: #ffffff;
    border-radius: 8px;
}