.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b9d5cc;
    height: auto;
    min-height: 400px;
    padding: 1rem;
}

.logo {
    width: 80px;
    height: auto;
    margin-bottom: 0.5rem;
}

.brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: auto;
    border: 1px solid #faf8f83f;
    background-color: #faf8f835;
    color: #ffffff;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
}

.title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.subtitle {
    font-size: 1rem;
    text-align: center;
}

@media (min-width: 768px) {
    .hero {
        height: 500px;
    }

    .logo {
        width: 100px;
        margin-bottom: 1rem;
    }

    .brand {
        padding: 2rem;
        max-width: 500px;
    }

    .title {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }
}