.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #744229;
  color: #fff;
  padding: 20px;
}
.footercontent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLink {
  color: #fff;
  text-decoration: none;
}
.footerLinks {
  color: #fff;
  text-decoration: none;
  margin: 5px auto;
  justify-content: first baseline;
}

.footerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.footerBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.iyzicoLogo {
  width: 320px;
}
.footerText {
  display: block;
  font-size: 14px;
}
