.lastAddedSection {
  padding: 4rem 2rem;
  background-color: #f9f7f6;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #847b77;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Playfair", serif;
}