.privileges {
  display: flex;
    flex-direction: column;
  justify-content: center;
    align-items: center;
  margin: 40px 20px;
}
.content {
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}
.image {
  width: 400px;
    height: auto;
    margin-top: 10px;
}