.privileges {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .privileges {
    margin: 40px 20px;
  }

  .content {
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }

  .image {
    max-width: 400px;
  }
}